---
- name: Register Builder
  ansible.builtin.include_tasks: register_node.yml
  loop: "{{ coolify_server }}"
  loop_control:
    loop_var: node_name
  when: 
    - coolify_register_server | bool
    - coolify_server is defined
    - "'builder' in hostvars[node_name].labels | default([])"

- name: Register Server
  ansible.builtin.include_tasks: register_node.yml
  loop: "{{ coolify_server }}"
  loop_control:
    loop_var: node_name
  when: 
    - coolify_register_server | bool
    - coolify_server is defined
    - "'builder' not in hostvars[node_name].labels | default([])"
