---
- name: Register Server in Coolify - {{ worker_item }}
  block:
    - name: Get current servers from Coolify
      ansible.builtin.uri:
        url: "http://localhost:8000/api/v1/servers"
        method: GET
        headers:
          Authorization: "Bearer {{ coolify_api_token }}"
      register: servers_list
      when: not ansible_check_mode

    - name: Set worker facts
      ansible.builtin.set_fact:
        current_worker_hostname: "{{ hostvars[worker_item]['ansible_hostname'] | default(worker_item) }}"
        current_worker_ip: "{{ hostvars[worker_item]['private_ip'] | default(hostvars[worker_item]['ansible_host'], true) | default(worker_item, true) }}"

    - name: Post server registration to Coolify
      ansible.builtin.uri:
        url: "http://localhost:8000/api/v1/servers"
        method: POST
        headers:
          Authorization: "Bearer {{ coolify_api_token }}"
          Content-Type: "application/json"
        body_format: json
        body:
          name: "{{ current_worker_hostname }}"
          description: "Registered via Ansible"
          ip: "{{ current_worker_ip }}"
          port: 22
          user: "root"
          private_key_uuid: "{{ coolify_key_uuid }}"
          is_build_server: false
          instant_validate: false
          proxy_type: "traefik"
        status_code: [200, 201]
      when: 
        - not ansible_check_mode
        - servers_list.json is defined
        - servers_list.json | selectattr('name', 'equalto', current_worker_hostname) | list | length == 0
