---
- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
  when: ansible_os_family == 'Debian'

- name: Ensure hostname resolves to 127.0.0.1
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^127\.0\.0\.1'
    line: "127.0.0.1 localhost {{ inventory_hostname }}"
  when: ansible_os_family == 'Debian'

- name: Update package lists
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  environment:
    DEBIAN_FRONTEND: noninteractive
  when: ansible_os_family == 'Debian'

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: true
    dpkg_options: 'force-confold,force-confdef'
  environment:
    DEBIAN_FRONTEND: noninteractive
  when: ansible_os_family == 'Debian'

- name: Install public AuthorizedKeysFile
  ansible.posix.authorized_key:
    user: root
    state: present
    key: "{{ public_key }}"
  when: 
    - ansible_os_family == 'Debian'
    - public_key | length > 0

- name: Install required packages
  ansible.builtin.package:
    name: 
      - ufw
      - fail2ban
    state: present
  environment:
    DEBIAN_FRONTEND: noninteractive
  when: ansible_os_family == 'Debian'

- name: Enable UFW
  community.general.ufw:
    state: enabled
    policy: allow
  when: 
    - ansible_os_family == 'Debian'
    - common_manage_ufw | default(false) | bool


- name: Allow incoming traffic on specified ports
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
  loop:
    - 22
    - 80
    - 443
  when: 
    - ansible_os_family == 'Debian'
    - common_manage_ufw | default(false) | bool

- name: Configure Fail2Ban
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    mode: preserve
  when: ansible_os_family == 'Debian'
  notify: Restart fail2ban

- name: SSH Hardening
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop:
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin prohibit-password' }
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
    - { regexp: '^#?X11Forwarding', line: 'X11Forwarding no' }
    - { regexp: '^#?MaxAuthTries', line: 'MaxAuthTries 2' }
    - { regexp: '^#?AllowTcpForwarding', line: 'AllowTcpForwarding no' }
    - { regexp: '^#?AllowAgentForwarding', line: 'AllowAgentForwarding no' }
    - { regexp: '^#?AuthorizedKeysFile', line: 'AuthorizedKeysFile .ssh/authorized_keys' }
  when: 
    - ansible_os_family == 'Debian'
    - ansible_connection != 'local'
  notify: Restart sshd
