---
- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted

- name: Restart sshd
  ansible.builtin.service:
    name: ssh
    state: restarted

- name: Apply netplan
  ansible.builtin.command: netplan apply
  become: true
